//官⽹主⾊调
$color-brand-1: #c6a34f; // 品牌主⾊1
$color-brand-2: #059c5d; // 品牌主色2

//辅助色
$color-error: #eb3d3d; // 错误提示
$color-tips: #ff8315; //警告、提示
$color-trans: #059c5d1a; // 表单划过
$color-hover: #22b678; //鼠标移上
$color-active: #007e49; //鼠标点击
//中性色
$color-bg: #f5f5f5; //背景色
$color-break-line: #f0f0f0; //分割线
$color-header: #f3f3f3; //表头
$color-stroke: #d9d9d9; //描边
$color-scroll-bar: #cccccc; //滚动条
$color-disabled: #bfbfbf; //禁用

//文字用色
$color-text-title1: #1b1b1b; //标题⽂字、⼀级标题、 列表主要⽂字
$color-text-title2: #666666; //⽤于⼆级标题和⻓⽂ 本⽂字颜⾊
$color-text-title3: #999999; // ⽤于三级⽂字、备注 ⽂字、灰度⾊彩图标颜⾊
$color-text-tips: #b3b3b3; //输⼊框内预置提示⽂字
$color-text-disabled: #bfbfbf; //不可⽤状态

// ----------------------------------------------------------------------
$color-primary: #c6a34f; // 主色调
$color-secondary: #059c5d; // 副色调
$gray1: #1b1b1b; // 一级标题
$gray2: #666666; // 二级标题
$gray3: #999999; // 三级标题 备注

$table-gray: #c9c9c9; // 通用表格边框灰
$table-bg: #f2f2f2; // 通用表格背景灰

// ----------------------------------------------------------------------

//全局用色
$color-overall-one: #ccc;
$color-overall-two: #999999;
$color-overall-three: #e5e5e5;
$color-overall-four: #f5f5f5;

// //背景
$color-bg-white: #ffffff;
$color-bg-light-gray: #f5f5f5;
